.nav-item {
    margin: 15px;
    display: inline-block;
    vertical-align: middle
}

body {
    margin-left: 1vw;
    margin-right: 1vw;
}

.container-fluid {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #42a0e4;
    Margin-top: 20px;
    padding: 5px;
}

.btn {
    margin:5px;
}